--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: risk_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.risk_enum AS ENUM (
    'high',
    'standard'
);


ALTER TYPE public.risk_enum OWNER TO postgres;

--
-- Name: riskenum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.riskenum AS ENUM (
    'high',
    'standard'
);


ALTER TYPE public.riskenum OWNER TO postgres;

--
-- Name: roleenum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.roleenum AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.roleenum OWNER TO postgres;

--
-- Name: status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_enum AS ENUM (
    'pending',
    'in_progress',
    'completed'
);


ALTER TYPE public.status_enum OWNER TO postgres;

--
-- Name: statusenum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statusenum AS ENUM (
    'pending',
    'in_progress',
    'completed'
);


ALTER TYPE public.statusenum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    status character varying DEFAULT 'in_progress'::character varying
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    id uuid NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: form_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_progress (
    id uuid NOT NULL,
    client_id uuid,
    step character varying NOT NULL,
    data json,
    last_updated timestamp without time zone DEFAULT now(),
    application_id uuid
);


ALTER TABLE public.form_progress OWNER TO postgres;

--
-- Name: onboarding_processes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.onboarding_processes (
    id uuid NOT NULL,
    client_id uuid,
    status public.statusenum,
    created_at timestamp without time zone DEFAULT now(),
    current_step character varying
);


ALTER TABLE public.onboarding_processes OWNER TO postgres;

--
-- Name: risk_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.risk_assessments (
    id uuid NOT NULL,
    client_id uuid,
    risk_score integer NOT NULL,
    classification public.riskenum NOT NULL,
    details json
);


ALTER TABLE public.risk_assessments OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    name character varying,
    email character varying,
    hashed_password character varying,
    role public.roleenum,
    id uuid NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
ba17634121ca
\.


--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients (id, name, email, phone, created_at) FROM stdin;
\.


--
-- Data for Name: form_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: onboarding_processes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.onboarding_processes (id, client_id, status, created_at, current_step) FROM stdin;
\.


--
-- Data for Name: risk_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.risk_assessments (id, client_id, risk_score, classification, details) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (name, email, hashed_password, role, id) FROM stdin;
Alan	alanbiju1234@gmail.com	$2b$12$qPGIPoZV.dHUJRc1OW98I.EthwwKh.QdGipTxWHKK5pmcss4K9eOa	user	1c27b64a-f709-4111-8f0e-610a960d0a23
Alan	alanbiju1234@zahoo.com	$2b$12$4fAJPc1IJBvGwYsqi0DBD.9y.wDLdNDbcCIP1oGeq0Y89fNSK3NJ2	user	02db16ad-ed60-4301-9363-bb400fd750ba
Admin User	admin@example.com	$2b$12$l3.ZxH00Dfa6q5n8cmqE5e8CDGiaop0dsHnMLmhAqettczyN3pM3e	admin	bd2dcca0-1933-4f5c-a0a5-a5a25f0522e5
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: clients clients_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_email_key UNIQUE (email);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: form_progress form_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_progress
    ADD CONSTRAINT form_progress_pkey PRIMARY KEY (id);


--
-- Name: onboarding_processes onboarding_processes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_processes
    ADD CONSTRAINT onboarding_processes_pkey PRIMARY KEY (id);


--
-- Name: risk_assessments risk_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.risk_assessments
    ADD CONSTRAINT risk_assessments_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_name ON public.users USING btree (name);


--
-- Name: applications applications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: form_progress fk_form_progress_application_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_progress
    ADD CONSTRAINT fk_form_progress_application_id FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- Name: form_progress form_progress_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_progress
    ADD CONSTRAINT form_progress_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: onboarding_processes onboarding_processes_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.onboarding_processes
    ADD CONSTRAINT onboarding_processes_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: risk_assessments risk_assessments_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.risk_assessments
    ADD CONSTRAINT risk_assessments_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- PostgreSQL database dump complete
--

