fastapi[all]
uvicorn
pydantic
sqlalchemy
python-dotenv
psycopg2-binary
pymongo
motor
alembic
pydantic[email]
bcrypt
pyjwt
passlib
minio
aiosmtplib

# ML dependencies
scikit-learn
joblib
numpy
pandas
xgboost
nltk